appdirs>=1.4.0
argcomplete==1.8.2
bson==0.4.4
decorator==4.0.11
geographiclib==1.47
geopy==1.11.0
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
pika==0.10.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pycurl==7.43.0
Pygments==2.2.0
pymongo==3.4.0
pytz==2016.10
pyzmq==16.0.2
git+https://github.com/andymccurdy/redis-py.git@84742495fd952f878fa6d0725d03d867ec39cd52#egg=redis
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
boto3>=1.4.2
#webdavclient==1.0.8
